 body{
    background-color: rgb(255, 255, 255);
 }
 input, button {
    display: block;
    margin: 12px auto;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    padding: 14px 20px;
    border-radius: 30px;
    border: 2px solid rgb(206, 206, 207);
    outline: none;
    
  }


  .containt{
    width: 100%;
    text-align: center;

  }
  div h1{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
  }
  div h2{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 50px;
  
    color: rgb(0, 0, 0);
  }

  div h4{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 5%;
}
.image{
  width: 100%;
 align-items: center;
}

  img{
  
    display: block;
    margin-left: auto;
    margin-right: auto;

    }

button:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(17, 17, 17);
    cursor: pointer;

    }

    @media screen and (max-width: 500px) {
      .image {
        background-color: blue;
      
  width: 50px;
      }
    }
    